body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.top {
  padding: 10px;
  background: #2f7d75;
  color: white;
}

.top-buttons button {
  margin: 4px;
}

#filters button {
  margin: 3px;
}

#map {
  height: 50vh;
}

#leyenda-bar {
  position: fixed;
  right: 0;
  top: 50%;
  background: #2f7d75;
  color: white;
  padding: 8px;
  z-index: 1000;
}

#leyenda-drawer {
  position: fixed;
  right: -260px;
  top: 0;
  width: 260px;
  height: 100%;
  background: white;
  padding: 10px;
  transition: right 0.3s;
  z-index: 999;
}

#leyenda-drawer.open {
  right: 0;
}

.leyenda-item {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}

#destacados {
  padding: 10px;
}

.tarjeta {
  background: white;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
}

.tarjeta img {
  width: 100%;
  border-radius: 6px;
}

#bottom-panel {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: white;
  padding: 10px;
  transition: bottom 0.3s;
  z-index: 1000;
}

#bottom-panel.open {
  bottom: 0;
}

#bp-close {
  float: right;
}

/* BOTÓN VER TODOS */
.btn-ver-todos {
  display: block;
  margin: 20px auto;
  padding: 14px;
  background: #1f6f8b;
  color: #f7f5f2;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #2ecc71;
}

/* GALERÍA */
#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

#lightbox.open {
  display: flex;
}

#lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

#lb-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
}

.lb-btn {
  background: white;
  border: none;
  font-size: 30px;
  padding: 10px 16px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}
