body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

header {
    background: #2b7a0b;
    color: white;
    padding: 20px;
    text-align: center;
}

#buscador {
    width: 90%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    font-size: 18px;
}

#categorias {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
}

#categorias button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #ddd;
    font-size: 16px;
}

#map {
    width: 94%;
    height: 300px;
    margin: 10px auto;
}

.leyenda {
    width: 94%;
    margin: 10px auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.leyenda-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.leyenda-item img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.btn-ver {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background: #1579ff;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
}
